<div id="pricing-modal" class="modal fade pricing-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content py-4">
            <div class="px-3">
                <div class="col-12 d-flex justify-content-end d-lg-none">
                    <i class="fas fa-times" data-dismiss="modal" aria-label="Close"></i>
                </div>
            </div>
            <div class="modal-header text-center text-black">
                <div class="col-12">
                    <h4 class="px-lg-6">Our 30-days trial gives you full access to all tools and features of your chosen plan.</h4>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-lg-6 text-left">
                        <div class="form-check card border-light p-3">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                            <label class="form-check-label" for="exampleRadios1">
                                <span class="h6 text-black d-block">Free</span>
                                <span class="small text-gray">30 days for free, then $99/mo</span> 
                                <span class="text-gray mt-3 d-block p">Suits freelance marketers and solopreneurs. Get full access to Ahrefs' core tools and features with enough data to do SEO for your personal projects.</span> 
                            </label>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 text-left">
                        <div class="form-check  card border-light p-3">
                            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" checked>
                            <label class="form-check-label" for="exampleRadios2">
                                <span class="h6 text-black d-block">Premium</span>
                                <span class="small text-gray">200$/mo</span> 
                                <span class="text-gray mt-3 d-block p">Perfect for SEO consultants and in-house marketers. Get everything in Lite with more features and increased data limits to research a large number of websites.</span> 
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer border-0 text-center">
                <div class="col text-gray">
                    <a href="@@path/pages/checkout.html" class="btn btn-primary mb-4">Continue</a>
                    <p class="small mb-0">You can upgrade, downgrade, or cancel your subscription anytime.<br>No contracts, no hidden charges.</p>
                </div>
            </div>
        </div>
    </div>
</div>