<section class="section @@classes">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card bg-white shadow-soft border-light">
                    <div class="card-body p-4 p-md-5">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-7">
                                <h2 class="h1">Start working faster today</h2>
                                <p class="lead font-weight-normal mb-4 mb-lg-5">Available exclusively on Mac for just $99.</p>
                                <a class="btn btn-secondary mr-2 mr-lg-3 animate-up-2" href="./pricing.html">
                                    <i class="fas fa-download mr-2"></i>
                                    Try Free
                                </a>
                                <a class="btn btn-dark animate-up-2 d-none d-md-inline-block" href="./platform-tour.html">
                                    Platform Tour
                                </a>
                            </div>
                            <div class="col-12 col-md-5 d-none d-md-block text-center">
                                <img src="@@path/assets/img/illustrations/addicted.svg" class="w-75" alt="Desktop App Illustration">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>