<section class="section section-lg pb-5 bg-soft">
    <div class="container">
        <div class="row"> 
            <div class="col-12 text-center mb-5">
                <h2 class="mb-4">Faster growth starts with Impact</h2>
                <p class="lead mb-5">Join over <span class="font-weight-bolder">300,000+</span> users</p>
                <a href="#" class="icon icon-lg text-gray mr-3">
                    <i class="fab fa-mailchimp"></i>
                </a>
                <a href="#" class="icon icon-lg text-gray mr-3">
                    <i class="fab fa-cpanel"></i>
                </a>
                <a href="#" class="icon icon-lg text-gray mr-3">
                    <i class="fab fa-dhl"></i>
                </a>
                <a href="#" class="icon icon-lg text-gray mr-3 ">
                    <i class="fab fa-github-alt"></i>
                </a>
                <a href="#" class="icon icon-lg text-gray mr-3">
                    <i class="fab fa-aws"></i>
                </a>
                <a href="#" class="icon icon-lg text-gray">
                    <i class="fab fa-node"></i>
                </a>
            </div>
            <div class="col-12 text-center">
                <!-- Button Modal -->
                <a href="../../dashboard/pages/dashboards/dashboard.html" class="btn btn-secondary animate-up-2"><span class="mr-2"><i class="fas fa-hand-pointer"></i></span>Start 30-days trial</a>
            </div>
        </div> 
    </div>    
</section>