<section class="section section-lg bg-soft">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <h2 class="h1 font-weight-light mb-3"><strong>Free</strong> demo</h2>
                <p class="lead mb-4">Do you want to test and see the benefits of this design system before purchasing it? You can give the demo version a try. It features enough components for you to get a feel of the design and also test the quality of the code.</p>
                <div class="d-flex align-items-center">
                    <a href="https://github.com/themesberg/pixel-bootstrap-ui-kit" target="_blank" class="btn btn-secondary mr-4 animate-up-2">
                        View on GitHub
                    </a>
                    <!-- Place this tag where you want the button to render. -->
                    <div class="mt-2">
                        <!-- Place this tag where you want the button to render. -->
                        <a class="github-button" href="https://github.com/themesberg/pixel-bootstrap-ui-kit" data-color-scheme="no-preference: dark; light: light; dark: light;" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star themesberg/pixel-bootstrap-ui-kit on GitHub">Star</a>                            
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="github-big-icon">
                  <span class="fab fa-github"></span>
                </div>
              </div>
        </div>
        <div class="row mt-6">
            <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                <div class="card border-light p-4">
                    <!-- Header -->
                    <div class="card-header bg-white pb-0">
                        <span class="d-block">
                            <span class="h3 text-gray font-weight-bold align-top">
                                Free Version
                            </span>
                        </span>
                    </div>
                    <!-- End Header -->
                    <!-- Content -->
                    <div class="card-body">
                        <ul class="list-group list-group-flush price-list mb-4">
                            <li class="list-group-item bg-white pl-0"><strong>80</strong> Components</li>
                            <li class="list-group-item bg-white pl-0"><strong>3</strong> Front Pages</li>
                            <li class="list-group-item bg-white pl-0"><strong>4</strong> Dashboard Pages</li>
                            <li class="list-group-item bg-white pl-0"><span class="icon-danger"><span class="fas fa-times-circle mr-2"></span></span> Uncoventional cards</li>
                            <li class="list-group-item bg-white pl-0"><span class="icon-danger"><span class="fas fa-times-circle mr-2"></span></span> Charts</li>
                            <li class="list-group-item bg-white border-0 pl-0 pb-0"><span class="icon-danger"><span class="fas fa-times-circle mr-2"></span></span> Premium Support</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                <div class="card border-light p-4">
                    <!-- Header -->
                    <div class="card-header bg-white pb-0">
                        <span class="d-block">
                            <span class="h3 text-primary font-weight-bold align-top">
                               Pro Version
                            </span>
                        </span>
                    </div>
                    <!-- End Header -->
                    <!-- Content -->
                    <div class="card-body">
                        <ul class="list-group list-group-flush price-list mb-4">
                            <li class="list-group-item bg-white pl-0"><strong>1500+</strong> Components</li>
                            <li class="list-group-item bg-white pl-0"><strong>25</strong> Front Pages</li>
                            <li class="list-group-item bg-white pl-0"><strong>20+</strong> Dashboard Pages</li>
                            <li class="list-group-item bg-white pl-0"><span class="icon-success"><span class="fas fa-check-circle mr-2"></span></span> Uncoventional cards</li>
                            <li class="list-group-item bg-white pl-0"><span class="icon-success"><span class="fas fa-check-circle mr-2"></span></span> Charts</li>
                            <li class="list-group-item bg-white border-0 pl-0 pb-0"><span class="icon-success"><span class="fas fa-check-circle mr-2"></span></span> Premium Support</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>