<footer class="footer section pt-6 pt-md-8 pt-lg-10 pb-3 @@classes overflow-hidden">
    <div class="pattern pattern-soft top"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-4 mb-lg-0">
                <a class="footer-brand mr-lg-5 d-flex" href="@@path_common/index.html">
                    <img src="@@path/assets/img/brand/light.svg" height="35" class="mr-3" alt="Footer logo">
                </a>
                <p class="my-4">Create, prototype, collaborate and turn your ideas into incredible products with the definitive platform for digital design.</p>
                <div class="dropdown mb-4 mb-lg-0">
                    <a id="langsDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle footer-language-link">
                        <img src="@@path/assets/img/flags/united-states-of-america.svg" alt="USA Flag" class="language-flag"> English
                        <i class="fas fa-chevron-down ml-1"></i>
                    </a>
                    <div aria-labelledby="langsDropdown" class="dropdown-menu dropdown-menu-center">
                        <a href="#" class="dropdown-item text-gray text-sm"><img src="@@path/assets/img/flags/germany.svg" alt="Germany Flag" class="language-flag"> German</a>
                        <a href="#" class="dropdown-item text-gray text-sm"><img src="@@path/assets/img/flags/spain.svg" alt="Spain Flag" class="language-flag"> Spanish</a>
                        <a href="#" class="dropdown-item text-gray text-sm"><img src="@@path/assets/img/flags/france.svg" alt="France Flag" class="language-flag"> French</a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-3 col-lg-2 mb-4 mb-lg-0">
                <h6>Themesberg</h6>
                <ul class="links-vertical">
                    <li><a target="_blank" href="https://themesberg.com/blog?ref=creativetim">Blog</a></li>
                    <li><a target="_blank" href="https://themesberg.com/themes?ref=creativetim">Themes</a></li>
                    <li><a target="_blank" href="https://themesberg.com/contact?ref=creativetim">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-6 col-sm-3 col-lg-2 mb-4 mb-lg-0">
                <h6>Creative Tim</h6>
                <ul class="links-vertical">
                    <li><a target="_blank" href="https://www.creative-tim.com/blog">Blog</a></li>
                    <li><a target="_blank" href="https://www.creative-tim.com/templates">Products</a></li>
                    <li><a target="_blank" href="https://www.creative-tim.com/support-terms">Support</a></li>
                    <li><a target="_blank" href="https://www.creative-tim.com/license">License</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <h6>Subscribe</h6>
                <p class="font-small">The latest Impact news, articles, and resources, sent straight to your inbox every month.</p>
                <form action="#">
                    <div class="form-row">
                        <div class="col-8">
                            <input type="email" class="form-control mb-2" placeholder="Email Address" name="email" required>
                        </div>
                        <div class="col-4">
                            <button type="submit" class="btn btn-secondary btn-block"><span>Subscribe</span></button>
                        </div>
                    </div>
                </form>
                <small class="mt-2 form-text">We’ll never share your details. See our <a href="#" class="font-weight-bold text-underline">Privacy Policy</a></small>
            </div>
        </div>
        <hr class="my-4 my-lg-5">
        <div class="row">
            <div class="col pb-4 mb-md-0">
                <div class="d-flex text-center justify-content-center align-items-center">
                    <p class="font-weight-normal mb-0">© <a href="https://themesberg.com?ref=creativetim*" target="_blank">Themesberg</a> & <a href="https://creative-tim.com">Creative Tim</a> <span class="current-year"></span>. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>