<section id="pricing" class="section section-lg pt-7 pt-lg-10 bg-soft">
    <div class="pattern top"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center mb-6">
                <h2 class="mb-5">Trusted by over 1 million developers and these companies</h2>
                <div class="d-flex justify-content-center align-items-center flex-wrap">
                    <img class="image-clients mr-4 mr-lg-5 mb-4" src="@@path/assets/img/clients/amazon.svg" alt="Amazon logo">
                    <img class="image-clients mr-4 mr-lg-5 mb-4" src="@@path/assets/img/clients/vodafone.svg" alt="Vodafone logo">
                    <img class="image-clients mr-4 mr-lg-5 mb-4" src="@@path/assets/img/clients/ibm.svg" alt="IBM logo">
                    <img class="image-clients mr-4 mr-lg-5 mb-4" src="@@path/assets/img/clients/samsung.svg" alt="Samsung logo">  
                    <img class="image-clients mb-4" src="@@path/assets/img/clients/microsoft.svg" alt="Microsoft logo">
                </div>
            </div>
        </div>
        <div class="row text-gray">
            <div class="col-12 col-md-6 col-xl-3">
                <!-- Card -->
                <div class="card shadow-soft mb-5 px-2">
                    <div class="card-header border-light p-4">
                        <!-- Price -->
                        <div class="d-flex mb-3">
                            <span class="h5 mb-0">$</span>
                            <span class="price display-3 mb-0" data-annual="149" data-monthly="149">149</span>
                        </div>
                        <h4 class="mb-3 text-black">Freelancer</h4>
                        <p class="font-weight-normal font-small mb-0">Good for a personal or client web/mobile app.</p>
                    </div>
                    <div class="card-body p-3">
                        <ul class="list-group simple-list">
                            <li class="list-group-item font-weight-normal font-small">Documentation<span class="icon-success ml-2"><i class="fas fa-check"></i></span></li>
                            <li class="list-group-item font-weight-normal font-small">Full code<span class="icon-success ml-2"><i class="fas fa-check"></i></span></li>
                            <li class="list-group-item font-weight-normal font-small">Domains: 1 / product</li>
                            <li class="list-group-item font-weight-normal font-small">Team size: 1 person</li>
                            <li class="list-group-item font-weight-normal font-small">Tech support: 6 months</li>
                            <li class="list-group-item font-weight-normal font-small">Free updates: 6 months</li>
                        </ul> 
                    </div>
                    <div class="card-footer px-4 pb-4 pt-0">
                        <!-- Button -->
                        <a href="#" target="_blank" class="btn btn-block btn-primary animate-up-2">
                            Buy now
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-3">
                <!-- Card -->
                <div class="card shadow-soft mb-5 px-2">
                    <div class="card-header border-light p-4">
                        <!-- Price -->
                        <div class="d-flex mb-3">
                            <span class="h5 mb-0">$</span>
                            <span class="price display-3 mb-0" data-annual="219" data-monthly="219">219</span>
                        </div>
                        <h4 class="mb-3 text-black">Startup</h4>
                        <p class="font-weight-normal font-small mb-0">Build your startup or client web/mobile app.</p>
                    </div>
                    <div class="card-body p-3">
                        <ul class="list-group simple-list">
                            <li class="list-group-item font-weight-normal font-small">Documentation<span class="icon-success ml-2"><i class="fas fa-check"></i></span></li>
                            <li class="list-group-item font-weight-normal font-small">Full code<span class="icon-success ml-2"><i class="fas fa-check"></i></span></li>
                            <li class="list-group-item font-weight-normal font-small">Domains: 1 / product</li>
                            <li class="list-group-item font-weight-normal font-small">Team size: 1-5 people</li>
                            <li class="list-group-item font-weight-normal font-small">Tech support: 12 months</li>
                            <li class="list-group-item font-weight-normal font-small">Free updates: 12 months</li>
                        </ul> 
                    </div>
                    <div class="card-footer px-4 pb-4 pt-0">
                        <!-- Button -->
                        <a href="#" target="_blank" class="btn btn-block btn-primary animate-up-2">
                            Buy now
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-3">
                <!-- Card -->
                <div class="card shadow-soft mb-5 px-2">
                    <div class="card-header border-light p-4">
                        <!-- Price -->
                        <div class="d-flex mb-3">
                            <span class="h5 mb-0">$</span>
                            <span class="price display-3 mb-0" data-annual="299" data-monthly="299">299</span>
                        </div>
                        <h4 class="mb-3 text-black">Company</h4>
                        <p class="font-weight-normal font-small mb-0">Perfect for web/mobile apps or SaaS projects.</p>
                    </div>
                    <div class="card-body p-3">
                        <ul class="list-group simple-list">
                            <li class="list-group-item font-weight-normal font-small">Documentation<span class="icon-success ml-2"><i class="fas fa-check"></i></span></li>
                            <li class="list-group-item font-weight-normal font-small">Full code<span class="icon-success ml-2"><i class="fas fa-check"></i></span></li>
                            <li class="list-group-item font-weight-normal font-small">Domains: unlimited</li>
                            <li class="list-group-item font-weight-normal font-small">Team size: 5-10 people</li>
                            <li class="list-group-item font-weight-normal font-small">Tech support: 12 months</li>
                            <li class="list-group-item font-weight-normal font-small">Free updates: 12 months</li>
                        </ul> 
                    </div>
                    <div class="card-footer px-4 pb-4 pt-0">
                        <!-- Button -->
                        <a href="#" target="_blank" class="btn btn-block btn-secondary animate-up-2">
                            Buy now
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-3">
                <!-- Card -->
                <div class="card shadow-soft mb-5 px-2">
                    <div class="card-header border-light p-4">
                        <!-- Price -->
                        <div class="d-flex mb-3">
                            <span class="h5 mb-0">$</span>
                            <span class="price display-3 mb-0" data-annual="899" data-monthly="899">899</span>
                        </div>
                        <h4 class="mb-3 text-black">Enterprise</h4>
                        <p class="font-weight-normal font-small mb-0">Large-scale projects which include redistribution rights.</p>
                    </div>
                    <div class="card-body p-3">
                        <ul class="list-group simple-list">
                            <li class="list-group-item font-weight-normal font-small">Documentation<span class="icon-success ml-2"><i class="fas fa-check"></i></span></li>
                            <li class="list-group-item font-weight-normal font-small">Full code<span class="icon-success ml-2"><i class="fas fa-check"></i></span></li>
                            <li class="list-group-item font-weight-normal font-small">Domains: unlimited</li>
                            <li class="list-group-item font-weight-normal font-small">Team size: 10-15 people</li>
                            <li class="list-group-item font-weight-normal font-small">Tech support: 18 months</li>
                            <li class="list-group-item font-weight-normal font-small">Free updates: 18 months</li>
                        </ul> 
                    </div>
                    <div class="card-footer px-4 pb-4 pt-0">
                        <!-- Button -->
                        <a href="#" target="_blank" class="btn btn-block btn-primary animate-up-2">
                            Buy now
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <p class="text-center font-small text-muted"><a href="https://www.creative-tim.com/license" target="_blank"><i class="fas fa-balance-scale mr-1"></i> Full license details</a></p>
            </div>
        </div>
    </div>
</section>