<!-- Core -->
<script src="@@path_common/node_modules/jquery/dist/jquery.min.js"></script>
<script src="@@path_common/node_modules/popper.js/dist/umd/popper.min.js"></script>
<script src="@@path_common/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="@@path_common/node_modules/headroom.js/dist/headroom.min.js"></script>

<!-- Vendor JS -->
<script src="@@path_common/node_modules/onscreen/dist/on-screen.umd.min.js"></script>
<script src="@@path_common/node_modules/waypoints/lib/jquery.waypoints.min.js"></script>
<script src="@@path_common/node_modules/jarallax/dist/jarallax.min.js"></script>
<script src="@@path_common/node_modules/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

<!-- Impact JS -->
<script src="@@path/assets/js/front.js"></script>
